{% extends 'base.html' %}
{% block content %}

    <!-- Add Fruit Form -->
    <section id="create">
        <div class="form">
            <h2>Add Fruit</h2>
            <form class="create-form" method="post" action="{% url 'create fruit' %}">

                {{ form }}
                <button type="submit">Add Fruit</button>
                {% csrf_token %}

            </form>
        </div>
    </section>

    <script>
        let inputElements = document.getElementsByTagName('label');
        while (inputElements.length > 0) {
            inputElements[0].parentElement.removeChild(inputElements[0]);
        }
    </script>

{% endblock %}